@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat.ttf") format("ttf");
}

html,
body
{
  background-color: #111;
  color: #fff;
  font-family: 'Montserrat';
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body
{
  align-items: center;
  display: flex;
  justify-content: center;
}

#divchoix
{
  right: 2vw;
  position: absolute;
  text-align: right;
  top: 1vh;
}

#choix
{
  border-bottom: solid 1px #ddd;
  margin: 0 0.2vw;
  padding: 0 0.2vw;
}

#dice,
.oui
{
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 7vh;
  height: 25vh;
  justify-content: center;
  overflow: hidden;

  -webkit-transition: all 0.1s ease-in-out;;
  -moz-transition: all 0.1s ease-in-out;;
  -o-transition: all 0.1s ease-in-out;;
  transition: all 0.1s ease-in-out;;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dice
{
  background-color: #222;
  flex-direction: column;
  width: 100%;
}

.oui
{
  align-items: center;
  border-image: linear-gradient(to top, transparent 49%, white, transparent 50%) 0 1;
  border-left: solid 5vw transparent;
  border-right: solid 5vw transparent;
  order: 1;
  text-shadow: 0 0 0 #666;
  transition: all 0.1s ease-in-out;
  width: 90vw;
}

@media (min-device-aspect-ratio: 135/96)
{

  #dice,
  .oui
  {
    font-size: 10vh;
  }

  .oui
  {
    align-items: center;
    border-image: linear-gradient(to top, transparent 49%, white, transparent 50%) 0 1;
    border-left: solid 3vw transparent;
    border-right: solid 3vw transparent;
    box-sizing: content-box;
    order: 1;
    text-shadow: 0 0 0 #666;
    transition: all 0.1s ease-in-out;
    min-width: 40vw;
  }
}
